.bread_crumbs p { font-size:12px; height:20px; line-height:20px;}
.z-next input{
    width: 300px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 20px;
    margin-top: 80px;
}
.back{
    display: inline-block;
    position: relative;
    bottom: -21px;
    right: 2px;
    width: 55px;
    float: right;
    z-index: 1;
}
.addplan:hover{
    color: blue;
}
