<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet" th:href="@{/static/css/style.css}">
<link rel="stylesheet" th:href="@{/static/css/edit/edit.css}">
<link type="text/css" th:href="@{/static/css/pagination.css}" rel="stylesheet">
<link rel="stylesheet" th:href="@{/static/layui/css/layui.css}">
<script type="text/javascript" th:src="@{/static/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:src="@{/static/js/jquery.pagination.js}"></script>
<title>广告主后台</title>
<script type="text/javascript">
    $(function(){
        //分页
        $('.page').pagination({
            totalData:$("#totalPage").val(),
            current:$("#currentpage").val(),
            mode: 'fixed',
            callback:function(){
                window.location.href = "acountSetting?&currentpage="+$(".page").children(".active").text();
            }
        });
    });
</script>
<style>
    .username,.userage,.usersex{
        display: inline-block;
        width: 80px;
        border: 0px;
        text-align: center;
    }
    .usersex{
        display: inline-block;
        width: 40px;
        border: 0px;
        /*background: url("/assets/img/caret.png") no-repeat scroll right center transparent;*/
        text-align: center;
    }
    label{
        display:inline-block;
        width: 60px;
    }
</style>
<body>
<div id="navigation">
    <div class="container-fluid"><a href="#" id="brand"></a>
        <ul class="main-nav">
            <li><a th:href="@{/user/index}"> <i class="icon-home"></i> <span>我的首页</span><span class="caret"></span> </a></li>
            <li><a th:href="@{/pm/index}" data-toggle="dropdown" class="dropdown-toggle">
                <i class="icon-edit"></i> <span>计划管理</span> <span class="caret"></span> </a></li>
            <li><a th:href="@{/am/index}" data-toggle="dropdown" class="dropdown-toggle"> <i
                    class="icon-edit"></i> <span>广告管理</span> <span class="caret"></span> </a></li>
            <li class="active"><a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle"> <i
                    class="icon-edit"></i> <span>账户设置</span> <span class="caret"></span> </a></li>
            <!--<li><a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle"> <i
                    class="icon-edit"></i> <span>审批申请</span> <span class="caret"></span> </a></li>
            <li><a href="javascript:;" data-toggle="dropdown" class="dropdown-toggle"> <i
                    class="icon-edit"></i> <span>消息中心</span> <span class="caret"></span> </a></li>-->
            <li><a th:href="@{/xgbg/index}"
                   data-toggle="dropdown" class="dropdown-toggle"> <i class="icon-table"></i> <span>效果报告</span> <span
                    class="caret"></span> </a></li>
        </ul>
        <div class="user">
            <ul class="icon-nav">
                <li class="dropdown">
                    <a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" style="padding-top:20px;"
                       th:text="${currentUser.userName}" id="userName"></a>
                </li>
                <i class="icon-exit"></i>
                <li class="dropdown" title="退出"><a th:href="@{/user/loginout}"> <i class="icon-exit"></i> </a></li>
            </ul>
        </div>
    </div>
</div>
<div class="container-fluid" id="content">
    <div id="left">
        <div class="subnav">
            <div class="subnav-title"><a href="#" class="toggle-subnav"><i class="icon-angle-down"></i><span>我的概况</span></a>
            </div>
            <ul class="subnav-menu">
                <li class="current"><a href="/index.php?e=adv/account.get_list"><i
                        class="icon-6uc-yen"></i><span>帐户设置</span></a></li>
            </ul>
        </div>
    </div>
    <div id="main" style="padding-top:10px;">
        <div class="box">

            <div class="box-content">
                <div class="box-title" style="margin-bottom: 40px;">
                    <h3><i class="icon-new"></i>基本信息 <span
                            style="font-size:14px; padding-left:30px; color:#08c; cursor:pointer"
                            id="s_edit" th:if="${currentUser.isSuperadmin == 1}">新增用户</span></h3>
                </div>
                <form action="/update" method="POST">
                    <table class="table">
                        <thead>
                        <tr>
                            <th width="50px">顺序</th>
                            <th width="200px">姓名</th>
                            <!--<th width="200px">年龄</th>
                            <th>性别</th>-->
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="user,userStat :${userlist}">
                            <td th:text="${userStat.index + 1}"></td>
                            <td >
                                <input type="text" th:value="${user.userName}" readonly="readonly" class="username">
                            </td>
                            <!--<td >
                                <input type="text" th:value="${user.userAge}" readonly="readonly" class="userage">
                            </td>
                            <td >
                                <select disabled=”disabled” class="usersex">
                                    <option value="0" th:selected="(0 == ${user.userSex.sexName})">男</option>
                                    <option value="1" th:selected="(1 == ${user.userSex.sexName})">女</option>
                                </select>
                            </td>-->
                            <td>
                                <input type="hidden" class="userid" th:value="${user.userId}">
                                <a href="javascript:;" class="editBtn" th:if="${currentUser.isSuperadmin == 1}">编辑</a>
                                <a href="javascript:;" style="color: #08c;" class="s_editpass" th:if="${currentUser.isSuperadmin == 1}">修改密码</a>
                                <a href="javascript:;" style="color: #08c;" onclick="delUser(this)" th:if="${currentUser.isSuperadmin == 1}" delflg = "1">删除</a>
                                <span onclick="return layer.msg('您没有权限操作！',{icon:2,time:1000})" style="color: #c1c1c1;cursor: pointer;" th:if="${currentUser.isSuperadmin != 1}">编辑</span>
                                <span onclick="return layer.msg('您没有权限操作！',{icon:2,time:1000})" style="color: #c1c1c1;cursor: pointer;" th:if="${currentUser.isSuperadmin != 1}">修改密码</span>
                                <span onclick="return layer.msg('您没有权限操作！',{icon:2,time:1000})" style="color: #c1c1c1;cursor: pointer;" th:if="${currentUser.isSuperadmin != 1}">删除</span>
                                <div class="controls">
                                    <div class="s_password" style="display: none;">
                                        <input type="hidden" th:value="${user.userName}" class="currentUser">
                                        <p>
                                            <span>原始密码</span>
                                            <input type="text" name="oldpassword" th:value="${user.userPassword}" class="oldpassword" readonly="readonly" style="border:0px;">
                                        </p>
                                        <p>
                                            <span>新密码</span>
                                            <input type="password" name="password" class="password">
                                        </p>
                                        <p>
                                            <span>确认新密码</span>
                                            <input type="password" name="password_confirm" class="password_confirm">
                                        </p>
                                        <button type="button" class="btn btn-primary up_password"
                                                style="margin-left:102px; margin-top:10px"> 提 交
                                        </button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
                <div id="newUser" style="display: none;">
                    <a href="acountSetting" class="back" style="margin-top: -110px;">
                        <img th:src="@{/static/images/back.jpg}" width="50">
                    </a>
                    <form action="addUser" method="post" onsubmit="return  checkData()">
                        <div class="control-group">
                            <label class="control-label">用户名</label>
                            <input type="text" name="userName" id="name" class="input-27" value="" onblur="nameIsExit(this)">
                        </div>
                        <!--<div class="control-group" style="margin-top:10px;">
                            <label class="control-label">年龄</label>
                            <input type="text" name="userAge" id="age" class="input-27" value="" >
                        </div>-->
                        <div class="control-group" style="margin-top:10px;">
                            <label class="control-label">性别</label>
                            <select class="sex" name="userSex">
                                <option value="0">男</option>
                                <option value="1">女</option>
                            </select>
                        </div>
                        <div class="control-group" style="margin-top:10px;">
                            <label class="control-label">密码</label>
                            <input type="password" name="userPassword" id="pwd" class="input-27" value="" >
                        </div>
                        <div class="z-next">
                            <input type="submit" value="提交">
                        </div>
                    </form>
                </div>
            </div>
            <!-- 分页效果 -->
            <input type="hidden" th:value="${page}" id="totalPage">
            <input type="hidden" th:value="${currentpage}" id="currentpage">
            <div class="m-style page"></div>
        </div>
    </div>
    <script type="text/javascript" th:inline="javascript">
        //相对路径
        var path = /*[[@{/}]]*/;
        $(document).ready(function () {
            layui.use("layer", function () {
                var layer = layui.layer;  //layer初始化
            });

            $("#s_edit").click(function(){
                $(".table").hide();
                $("#newUser").show();
                $(".page").hide();
            });

            $(".editBtn").on('click',function(){
                $(this).text("保存");
                $(this).parent().siblings().children(".username").removeAttr("readonly");
                $(this).parent().siblings().children(".username").css("border","1px solid #ccc");
                $(this).parent().siblings().children(".userage").removeAttr("readonly");
                $(this).parent().siblings().children(".userage").css("border","1px solid #ccc");
                $(this).parent().siblings().children(".userage").removeAttr("disabled");
                //$(this).parent().siblings().children(".userage").prop("background");
                $(this).removeClass("editBtn");
                $(this).attr("onclick","update(this)");
            });

            $('.s_editpass').on('click', function (option) {
                if($(this).siblings("div").children('.s_password').css("display") != "block"){
                    $('.s_password').hide();
                }
                $(this).siblings("div").children('.s_password').toggle();
            });


            $('.up_password').on('click', function (option) {
                _this = this;
                var oldpassword = $(this).siblings("p").children('.oldpassword').val();
                var password = $(this).siblings("p").children('.password').val();
                var password_confirm = $(this).siblings("p").children('.password_confirm').val();
                if (oldpassword == '' || password == '' || password_confirm == '') {
                    layer.alert("三项必填,请重新输入");
                    return false;
                }
                if (password != password_confirm) {
                    layer.alert("两次输入的密码不一样,请重新输入");
                    return false;
                }
                $.ajax({
                    url:path+"user/updatePassword",
                    type:"post",
                    data:{
                        userName : $(this).siblings(".currentUser").val(),
                        userPassword: oldpassword,
                        newPassword: password
                    },
                    success: function (data) {
                        if (data) {
                            if (data.Code == 0) {
                                layer.msg(data.Msg,{icon:1,time:1000},function() {
                                    $(_this).siblings("p").children('.oldpassword').val(password);
                                    $(_this).siblings("p").children('.password').val("");
                                    $(_this).siblings("p").children('.password_confirm').val("");
                                    $('.s_password').hide();
                                });
                            }else{
                                layer.msg(data.Msg,{icon:2,time:1000},function(){
                                    $(_this).siblings("p").children('.oldpassword').val(password);
                                    $(_this).siblings("p").children('.password').val("");
                                    $(_this).siblings("p").children('.password_confirm').val("");
                                    $('.s_password').hide();
                                });
                            }
                        }
                    }});
            });
        });
        function nameIsExit(obj){
            $.ajax({
                url:"nameIsExit",
                type:"POST",
                data:{"userName":$(obj).val()},
                success:function(data){
                    if (data.Code != 0) {
                        layer.msg(data.Msg,{icon:2,time:1500})
                        $(obj).attr("nameExit","true");
                    }else{
                        $(obj).attr("nameExit","false");
                    }
                }
            })
        }
        function delUser(obj) {
            layer.confirm("确定删除这个用户吗？",{icon:3},function () {
                update(obj);
            })
        }
        function update(obj){
            $.ajax({
                url:"updateUser",
                type:"post",
                data:{
                    userName : $(obj).parent().siblings().children(".username").val(),
                    userId: $(obj).siblings(".userid").val(),
                    delFlg:$(obj).attr("delflg")
                },
                success: function (data) {
                    var tip = "添加成功！";
                    if($(obj).attr("delflg") == 1){
                        tip = "删除成功！";
                    }
                    layer.msg(tip, {icon: 1, time: 1000}, function () {
                        window.location.reload();
                    });
                }
            });
        }
        function checkData(){
            if($("#name").val() == null && $("#name").val() == ""){
                layer.msg("登录名不能为空!",{icon:2,time:1500});
                return false;
            }else{
                if($("#name").attr("nameExit") == "true" ){
                    layer.msg("该登录名已经被占用!",{icon:2,time:1500});
                    return false;
                }
            }
            if($("#pwd").val() == null && $("#pwd").val() == ""){
                layer.msg("密码不能为空!",{icon:2,time:1500});
                return false;
            }
        }
    </script>
</div>
</body>
</html>